{% extends 'habits/base.html' %}

{% block title %}Contact Us - HabitHero{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center">Get in Touch with HabitHero</h2>
    <p class="text-center text-muted">We'd love to hear from you! Reach out through any of our channels:</p>
    <div class="row justify-content-center my-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Follow Us</h5>
                    <p class="card-text">
                        <a href="https://www.instagram.com" target="_blank" class="me-3 text-decoration-none">
                            <i class="bi bi-instagram"></i> Instagram
                        </a>
                        <a href="https://www.twitter.com" target="_blank" class="me-3 text-decoration-none">
                            <i class="bi bi-twitter"></i> Twitter
                        </a>
                        <a href="https://wa.me/1234567890" target="_blank" class="text-decoration-none">
                            <i class="bi bi-whatsapp"></i> WhatsApp
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
